.control {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__label {
    color: #f3f3f3;
    user-select: none;
    font-family: 'Signika', sans-serif;
    margin-left: 15px;
    font-size: 15px;
  }
}

.switch {
  display: none;
}
.switch + label,
.switch + label::after {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 34px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 9999px;
  transition: 300ms;
}
.switch + label::after {
  content: '';
  position: absolute;
  left: 0;
  background: #fff;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2), 0 0 0 2px #ddd;
}
.switch:checked + label {
  border: 2px solid #4bd865;
  box-shadow: inset 0 0 0 calc((30px / 2) + 2px) #4bd865;
}
.switch:checked + label::after {
  left: calc(50px - 30px);
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2), 0 0 0 2px #4bd865;
}
.switch:not(:checked) + label:hover:active {
  box-shadow: inset 0 0 0 calc((30px / 2) + 2px + 2) #ddd;
}
.switch + label:hover:active::after {
  width: calc(30px + 5px);
}
.switch:checked + label:hover:active::after {
  left: calc(50px - 30px - 5px);
}
