.scorer {
  display: flex;
  justify-content: center;
  margin-top: 75px;

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #0f1023;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &--active {
      background-color: #ff7100;
    }
  }
}
