<div class="circulate" (click)="pressed.emit(true)">
  <div class="circle">
    <div class="wave _one" [style.top]="progress + '%'"></div>
    <div class="wave _two" [style.top]="progress + '%'"></div>
    <div class="wave _three" [style.top]="progress + '%'"></div>
    <div class="timer-background">
      <div class="value">{{ value }}</div>
    </div>
    <div
      class="timer-hover timer-hover--play"
      [class.timer-hover--play]="timerPaused"
      [class.timer-hover--pause]="!timerPaused"
    ></div>
  </div>
</div>
