/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(-130deg, #07274e 0%, #2e002f 100%);
}
